@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --dark-green: #606c38;
    --sage: #afb38c;
    --night: #121619;
    --off-white: #fefae0;
    --melon: #f3ad9e;
    --light-red: #E85F5C;
    --ash-gray: #b0b0ad;
    --sunset: #FFD199;
    --orange: #F4987B;
}

.about{
    width:400px;
    margin: auto;
}

.about-team{
    color:rgb(82, 81, 81)
}

.authors{
    background-color: var(--sunset);
}

.body{
    background-color: var(--ash-gray);
}

.footer{
    background-color:var(--dark-green);
}

.icon-white{            /* Arrow icon at bottom of page */
    color: var(--off-white)
}

.nb-background-color{   /* navbar background color */
    background-color: var(--light-red);
}

.nbMenuItem{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview{
    background-color: var(--sunset);
}

.overview-font {
    font-family: "Roboto", cursive;
    font-weight: 400;
}

.ov-img-div {
    display: inline-flex;
    align-items: center;
}

.ovPadLeft{
    padding-left: 20px;
}

.ovPadRight{  
    padding-right: 20px;
}

.procedure{
    background-color: var(--sunset);
    padding: 1px;
}

.showcase{
    background-color: var(--orange); /*#0096c7*/
    color: var(--off-white);
}

.showcase-img,
.ov-img {
    border-radius: 20px;
}

/* ----------------- ID CSS ----------------- */
h1.display-4, .section-title {
    font-family: "Playfair Display", serif;
    font-weight: 800;
}


/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--off-white);
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}

/* Nav image animation */
.nav-img {
    transition: background-color .5s;
    padding: 2px;
    border-radius: 100%;
}

.nav-img:hover {
    background-color: #fefae0;
}